<!DOCTYPE html>
<html lang="en-US">
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	  rel="stylesheet">
    <link href="/cs444/assets/styles/article.css" rel="stylesheet"
	  type="text/css" />
    <link href="/cs444/assets/styles/hl-fine_blue.css" rel="stylesheet"
	  type="text/css" />
    <link href="/cs444/exercises/questions.css" rel="stylesheet"
	  type="text/css" /> 
    <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    <title>CS 444: Exercises</title>
  </head>
  <body>
    <nav>
      <ul>
	<li><a href="/cs444/index.html" class="material-icons">house</a></li>
	<li><a href="/cs444/docs/index.html">Docs</a></li>
	<li><a href="/cs444/exercises/index.html">Exercises</a></li>
	<li><a href="/cs444/hw/index.html">Homeworks</a></li>
	<!-- <li><a href="/cs444/labs/index.html">Labs</a></li> -->
	<li><a href="/cs444/misc/index.html">Misc</a></li>
	<li><a href="/cs444/projects/index.html">Projects</a></li>
	<li><a href="/cs444/slides/index.html">Slides</a></li>
	<li><a id="loginAction"></a></li>
      </ul>
    </nav>
    <div class="content">
      <section><h1>Exercises</h1>
	<div id="exercise">
	</div>
      </section>
    </div> <!-- #content -->
    <script src="/cs444/assets/scripts/loginAction.mjs"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/cs444/exercises/index.js"></script>
  </body>
</html>
